<h1>Exploring Pandas</h1>

In [1]:
import pandas as pd  # Run this cell before every other cell

In [2]:
revenues = pd.Series([5555, 
                      7000, 
                      19000])  # IDENTIFIER automatically assigned an index
revenues  # No need to use print statement

0     5555
1     7000
2    19000
dtype: int64

In [3]:
revenues.values

array([ 5555,  7000, 19000])

<h1>Explicitly State Index</h1>

In [5]:
city_revenues = pd.Series([4200, 
                           8000, 
                           6500],
                          index = ['Amsterdam', 
                                   'Toronto', 
                                   'Tokyo'])  # Manually assign index to each IDENTIFIER
city_revenues

Amsterdam    4200
Toronto      8000
Tokyo        6500
dtype: int64

<h3>Similarities to Existing Python Data Structures</h3>
Revenues -> Looks like a list
City_Revenues -> Looks like a dictionary

In [ ]:
city_revenues['Tokyo']

In [8]:
# Use a dictionary as a data series -> same exact result as data series with explicitly stated indexing vs data series with dictionary
city_employee_count = {'Amsterdam': 5,
                      'Tokyo': 8}

employee_count = pd.Series(city_employee_count)
employee_count

Amsterdam    5
Tokyo        8
dtype: int64

In [9]:
# Pandas supports keys method
employee_count.keys()

Index(['Amsterdam', 'Tokyo'], dtype='object')

In [10]:
# Check to see if key is in Data Series
'Tokyo' in employee_count

True

In [12]:
city_data = pd.DataFrame(
    {'revenue': city_revenues,
    'employee count': employee_count}  # Key of Dictionary = Column, Index of Value = Row, Value of value = Cell
)
city_data  # Automatically reference the same index

           revenue  employee count
Amsterdam     4200             5.0
Tokyo         6500             8.0
Toronto       8000             NaN

Note:
- key ov values used must have the same index
- Toronto has a value for revenue, but NOT employee count, so it is classified as NaN

In [13]:
city_data.axes  # Axises

[Index(['Amsterdam', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee count'], dtype='object')]

+ First is the rows axes[0]
+ Second is the columns axes[1]
Objects -> Strings

In [ ]:
'Amsterdam' in city_data.axes[0]

In [ ]:
'Amsterdam' in city_data.axes[1]

Topic: Soccer -> Create individual DS for each, then combine for data frame
- Rows: Name_1, Name_2
- Columns: Number, Goals, Assists, Points
-

In [19]:
num = pd.Series([7,10,10,9,6], index = ['Ronaldo', 'Messi', 'Neymar', 'Zlatan', 'Robert'])
goals = pd.Series([23,25,22,19,21], index = ['Ronaldo', 'Messi', 'Neymar', 'Zlatan', 'Robert'])
assists = pd.Series([16,20,7,6,18], index = ['Ronaldo', 'Messi', 'Neymar', 'Zlatan', 'Robert'])

players_data = pd.DataFrame(
    {'Jersey #' : num,
    'Goals' : goals,
    'Assists' : assists,
    'Points' : goals + assists}
)

players_data

         Jersey #  Goals  Assists  Points
Ronaldo         7     23       16      39
Messi          10     25       20      45
Neymar         10     22        7      29
Zlatan          9     19        6      25
Robert          6     21       18      39